:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  --main-clr: #000000;
  --blue-clr: #2196f3;
  --secondary-clr: #757575;
  --background-clr: #2f303a;
  --light-clr: #ffffff;
  --button-clr: #f5f4fa;
  --secondary-light-clr: #ffffff99;
  --background-secondary-clr: #f5f4fa;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.main-btn {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-clr);
}

.header-logo-web {
  color: var(--blue-clr);
}

.header-logo-web .header-logo-studio {
  color: var(--main-clr);
}

/* Шапка сайта*/
.header {
  border: 1px solid #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.div-container {
  display: flex;
  height: 80px;
}

.header-logo-web {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo-web,
.header-logo-studio {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.42;
  letter-spacing: 0.03em;
}

.header-link {
  color: var(--main-clr);
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-list {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.header-list .header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link.current {
  color: var(--blue-clr);
}

.header-link:hover,
.header-link:focus {
  color: var(--blue-clr);
}

.header-list .header-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-mail,
.header-phone {
  color: var(--secondary-clr);
}

.header-mail:hover,
.header-mail:focus,
.header-phone:hover,
.header-phone:focus {
  color: var(--blue-clr);
}

.header-info {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav {
  display: flex;
}

.auth-nav {
  align-items: center;
  margin-left: auto;
}

.header-nav .header-info + .header-info {
  margin-left: 50px;
}

/* Баннер */
.hero {
  background-color: var(--background-clr);
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
}

.hero-main {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--light-clr);
}

.hero-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;

  color: var(--light-clr);
  background: var(--blue-clr);
}

.hero-btn:hover {
  color: var(--main-clr);
  background: var(--button-clr);
}

.hero-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding: 10px 32px;
}
/* Абзацы */
.paragraph-main {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.paragraph-item {
  width: 270px;
}

.paragraph-description {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-clr);
}

.paragraph-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul-paragraph:not(:last-child) {
  margin-right: 30px;
}

.paragraph-main {
  padding-bottom: 10px;
}

.paragraph-list {
  display: flex;
}

.paragraph-list .paragraph-item:not(:last-child) {
  margin-right: 30px;
}

/* Галерея работ */
.hallery {
  padding-bottom: 94px;
}

.hallery-main {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.hallery-list {
  display: flex;
}

.hallery-list .hallery-item:not(:last-child) {
  margin-right: 30px;
}

/* Команда */
.team {
  background-color: var(--background-secondary-clr);
}

.team-main {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team-item {
  width: 270px;
  height: 368px;
  background-color: var(--light-clr);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-description {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-clr);
}

.team-list {
  display: flex;
}

.team-container {
  padding: 30px 0;
}

img {
  display: block;
}

.team-description {
  margin-top: 10px;
}

/* Подвал */
.footer {
  background-color: var(--background-clr);
  height: 256px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-map:hover,
.footer-map:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: var(--blue-clr);
}

.footer-logo-web {
  color: var(--blue-clr);
}

.footer-logo-web .footer-logo-studio {
  color: var(--light-clr);
}

.footer-logo-web,
.footer-logo-studio {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-map {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-clr);
}

.footer-mail,
.footer-phone {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-light-clr);
}

.footer-item:first-child {
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Портфолио */
.portfolio-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background: var(--button-clr);
}

.portfolio-btn:hover {
  color: var(--light-clr);
  background: var(--blue-clr);
}

.portfolio-main {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-description {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-clr);
}

.portfolio-item {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
}

.portfolio-list:not(:last-child) {
  margin-right: 8px;
}

.portfolio-box {
  width: 370px;
  height: 405px;
  margin-right: 30px;
}

.portfolio-container {
  display: block;
  border: 1px solid #eeeeee;
  text-align: left;
  padding: 20px 24px;
}

.portfolio-box:nth-child(3n) {
  margin: 0;
}

.portfolio-box:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-image {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-box:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
